body {
  /* font-family: Google Sans; */
  background-color: #f2f2f2;
}
*{
  font-family: 'Lato', sans-serif;
}

.chips .chip.selected{
  background: none !important;
  background-color: #ffb300 !important;
}

.materialboxed.active{
  z-index: 1014 !important;
}

#materialbox-overlay{
  z-index: 1014 !important;
}

.activityExpand{
  margin-left: 45%;
}

.grey{
  background-color: #f2f2f2 !important;
}

.topBar{
  background-color: white;
  top: 0;
  position: fixed;
  height: 3em;
}



.chips-time > .chip{
  margin: 0 0 0 0;
  background-color: inherit;
}

.chips.chips-time{
  width: max-content;
  border: solid;
  border-width: 0.9px;
  border-radius: 20px;
  border-color: #adadad;
  min-height: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;


}
.chips-student > .chip{
  margin: 0 0 0 0;
  background-color: inherit;
}

.chips.chips-student{
  width: max-content;
  border: solid;
  border-width: 0.9px;
  border-radius: 20px;
  border-color: #adadad;
  min-height: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;

}
.chips.chips-subject{
  width: max-content;
  border: solid;
  border-width: 0.9px;
  border-radius: 20px;
  border-color: #adadad;
  min-height: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;

}

.chips-subject > .chip{
  margin: 0 0 0 0;
  background-color: inherit;
}

.chipleft{
  border-radius: 20px 0 0 20px;
}
.chipright{
  border-radius: 0 20px 20px 0;
}
.chipMiddle{
  border-radius: 0;
}


.chips-time.chip.selected{
  transition: 0.3s ease
}

#today{
  border-radius: 20px 0 0 20px;
  border-right: solid;
  border-width: 0.9px;
}
#all{
  border-radius: 0 20px 20px 0;
  border-left: solid;
  border-width: 0.9px;
}
h1{
  font-size: 2rem !important;
  margin: 0.67em 0;
  font-weight: bolder;
  text-align: center;
}

h4{
  font-size: 28px;
  font-weight: bolder;
  padding-top: 0.5em;
}

nav > h2{
  margin: 0;
  padding-top: 20px;
  padding-left: 5px;
  font-size: 32px;
}

section {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 6em;
  top: 4em;
}

.divider{
  margin-top: 0.7em;
  height: 2em;
  background-color: #f2f2f2;
  color: black;
  padding-left: 1%;
}

.white{
  background-color: #f2f2f2;
}

nav > img{
  width: 100px;
  height: 50px;
}



nav > div > a > .material-icons {
  line-height: 40%;
}

nav > div > .btn{
  padding: 1rem;
}





h3{
  font-size: 30px;
}



.chip.selected{
  background-color: #ffb300 !important;
  transition: all 0.3s ease;
}

form {
  padding-bottom: 5%;
  padding-left: 0.5em;
}

form#radio > p{
  padding-left: 0.5em;
}

.leftbtn {
  float: left;
  margin-top: 0.5em;
  margin-left: 15%;
}
.rightbtn{
  float:right;
  margin-top: 0.5em;
  margin-right: 15%;
}

.lever{
  right: -20%;
}

.switch{
  padding-top: 1em;
}

.card-stacked.expand {
  width: 100%;
  height: 100%;

}

ul.tabs{
  background-color: transparent;
}


.tabs .tab a{
  color: black;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: transparent;
}

.tabs .indicator{
  background-color: black;
}

label.settings{
  font-size : 1em;
}

img.responsive-img, video.responsive-video{
  max-width: 30%;
  margin-left: 34%;
  height: auto;
  border:2px solid #ffca28;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;

}




.card.horizontal{
  border-radius: 4px;
  box-shadow: 0 0 0 0;
  margin-bottom: 0.5em;
}

.card.horizontal .card-stacked .card-content{
  border-radius: 4px;
}
.card .card-action:last-child{
  border-radius: 0 0 4px 4px;

}

div.card-content{
  padding-left: 2%;
  padding-bottom: 5%;
}

.mainButton{
  width: 48%;
  color: black;
  bottom: 5%;

}

.secondayButton{
  width: 48%;
  float: right;
  bottom: 5%;
}

.rounded{
  height: 3em;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 20px;
  line-height: 3em;
  bottom: 0;
}

.centerBtn{
  width: 100%;

}

#aonly{
  font-style: italic;
  font-weight: lighter;
}

[type="radio"]+span:before{

  height: 25px;
  width: 25px;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {

  background-color: #ffb300;
  height: 25px;
  width: 25px;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

  border : none;
  height: 25px;
  width: 25px;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
  line-height: 2.5em;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
  border : none;
    background-color: #ffb300;
}

.switch label input[type=checkbox]:checked+.lever:after{
  background-color: #ffb300;
}

.switch label input[type=checkbox]:checked+.lever{
  background-color: #c68400;
}

input.colour{
  height: 50px;
  width: 50px;
}

a > label{
  font-size: 18px;
  padding-left: 1em;
  color: #fff;
}


.centerFab{
  margin-right: 37%;
  margin-bottom: 0.7em !important;
}

.navbar-fixed{
  bottom: 0;
  position: fixed;
  height: 4.5em;
  z-index: 1014 !important;
}

nav {
  height : 6em;
}



div.chip > i.material-icons{
  display: none;
}

#select > a > i.material-icons{
  color: black;
}

.chips .input {
  display: none;
}

.chips{
  border-bottom: none;
}



.modal.open{
  border-radius: 8px;
  max-height: 100%;
  height: fit-content;
  max-width: 100%;
  width: 85%;
}

.card.horizontal.fade{
  transition: 0.3s ease
}

#studentRow{
  padding-left: 0.5em;
}
.label.active{
  color: black
}

input.valid[type=text]:not(.browser-default){
  border-bottom: 1px solid #ffb300;
  box-shadow: 0 1px 0 0 #ffb300;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #ffb300;
  box-shadow: 0 1px 0 0 #ffb300;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color: #ffb300;
}

#FilterModal{
  padding-top: 5em;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 100%;
  height: 100%;
  border-radius: 0 0 0 0;
  z-index: 1015 !important;
  bottom: 0 !important;
  background-color: #f2f2f2;
}

#FilterModal.velocity-animating{
  bottom: 0;
  background-color: #f2f2f2;
}

#settingsModal{
  padding-top: 5em;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 100%;
  height: 100%;
  border-radius: 0 0 0 0;
  z-index: 1015 !important;
  bottom: 0 !important;
  background-color: #f2f2f2;
}

#addStudent{
  z-index: 1016 !important;
}

#menuModal{
  z-index: 1005!important
}


.modal-overlay{
  z-index: 999 !important
}

#studentsModal{
  padding-top: 5em;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 100%;
  height: 100%;
  border-radius: 0 0 0 0;
  z-index: 1015 !important;
  bottom: 0 !important;
  background-color: #f2f2f2;
}

#settingsModal.velocity-animating{
  bottom: 0;
  background-color: #f2f2f2;
}

#moreModal{
  height: 25%;
  z-index: 1015 !important;
  color: black;
}

#moreModal > ul > li > label{
  color: black !important;
}


.menuLi{
  padding-bottom: 1em;
}

.collection .collection-item.avatar{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

}
.collection .collection-item.avatar .title{
  position: fixed;
  left: 30%;
  padding-top: 1em;
}

.modal.velocity-animating{
  border-radius: 8px;
}

.expanded {
  position: absolute;
  top: 30%;
  bottom: 30%;
  z-index: 1011;
  transition: 0.3s ease
}

.topToast{
  border-radius: 6px;
  top: 78%!important;
  width: 90%;
  left: 5%;
  position: fixed;
}

.selected{
  background: linear-gradient(to right, rgba(0, 111, 255, 0.15)95%, rgb(54, 137, 228) 50%) !important;
}

.modal.bottom-sheet{
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 50%;
}

.btn{
  font-weight: bold;


}

.priBlue{
  background-color: #48658e;
  transition: 0.3s ease

}

.priBlue.hidden{
  bottom: -7.5em;
  /* transform: translate3d(0, 6em, 0); */
}

div#menuModal.modal.bottom-sheet{
  background-color: #384a6d;
  box-shadow: 0 0 0 0;
}

div#menuModal.modal.bottom-sheet.open{
  background-color: #384a6d;
  /* background: linear-gradient(to top, #384a6d 95%, #092342 50%) !important; */
  box-shadow: 0 0 0 0;
}



#aempty , #bempty {
  font-size: 25px;
  margin-left: 15%;
  margin-top : 40%;
}

ul> a > i.material-icons{
  color: black;
}

#favButton.saved > i.material-icons{
  color: red;
}

.material-icons{
  color: #fff;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: #1976D2;
}
.subject{
  font-size: 16px;
  font-weight: bold;
}

.wrap { padding: 8px; }
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }

i.large {
  margin-left: 20%;
}

.student{
  width: 40%;
}

span.badge.new.left{
  margin-left: 0;
}
